<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
                <title>{% block title %}kkino{% endblock title %}</title>
                <meta http-equiv="keywords" content="enter,your,keywords,here" />
                <meta http-equiv="description" content="A short description of this page." />
                <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
                <link rel="stylesheet" type="text/css" href="/media/css/layout.css">
                <link rel="stylesheet" type="text/css" href="/media/css/form.css">
                <!--[if lte IE 7]>  
                <style type="text/css" media="all">  
                        @import "/media/css/form-ie.css";  
                </style>
                <![endif]-->
        </head>
        <body>
        <div id="page">
           <div id="header" id="fnav">
              <h1>MovieLens MashUp</h1>
			  <ul class="navigation">
			  	<li  ><a href="http://localhost:9999/today/">Filme heute</a></li>
				<li ><a href="http://localhost:9999/kinos/">Kinos</a></li>
				<li  ><a href="http://localhost:9999/movies/">Filme</a></li>
			  </ul>
			  <ul class="navigation" id="pnav">
			  	
				{% if user %}
				<li >Angemeldet als: {{user.nickname}}</li>
				<li ><a href="http://localhost:9999/profile/">Mein Profil</a></li>
				<li ><a href="http://localhost:9999/logout/">Logout</a></li>
				{% else %}
				<li ><a href="http://localhost:9999/login/">Anmelden</a></li>
				{% endif %}
			</ul>
           </div> <!-- END #header -->
           <div id="content">
  {% block content %}    

  {% endblock content %}
           </div>
        </div>
{% block javascript %} 
{% endblock javascript %} 
</body>
</html>
