{% extends "base.html" %} 

{% block content %} 
  {% if saved %} 
   <p> &Auml;nderungen wurden gerspeichert.</p>
  {% endif %}
<form action="" method="post" id="dataForm">
  <fieldset class="alt">
   <legend><span>Neues Kino anlegen</span></legend>
     <ol>
      <li>
       <label for="name">Name:</label>
       <input id="name" name="name" type="text" value="{{ kino.name }}" />
     </li>
     <li>
	<label for="adress">Adresse:</label>
	<input id="adress" name="adress" type="text" value="{{ kino.adress }}" />
	<a href="#" onclick="MlMup.showLocation(); return false;"> Adresse suchen</a>
     </li>
     <li>
	<input type="hidden" name="lat" value="{% if kino.geo %}{{ kino.geo.lat }}{% else %}{{ profile.geo.lat }}{% endif %}" id="lat" />
	<input type="hidden" name="long" value="{% if kino.geo %}{{ kino.geo.long }}{% else %}{{ profile.geo.lon }}{% endif %}" id="long" />
	<input type="hidden" name="key" value="{{ kino.key }}" id="lat" />
     </li>		
                <li>
                <div id="map"></div>
                </li>

                </ol>
        </fieldset>
                                        <fieldset class="submit">
                                        <input class="submit" type="submit" value="Speichern" />
                                </fieldset>
</form>
                </div>
                        

{% endblock content %} 


{% block javascript %} 
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ api_key }}"  type="text/javascript"></script>

<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/intl/en_ALL/mapfiles/127d/maps2.api/mod_control.js"></script>
<script src="http://www.google.com/uds/api?file=uds.js&v=1.0" type="text/javascript"></script>
<script src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js" type="text/javascript"></script> 
<script src="/media/lib/jquery/jquery.pack.js" type="text/javascript"></script> 
<script src="/media/lib/js/geo.functions.js" type="text/javascript"></script> 
{% endblock javascript %}

