{% extends "base.html" %} 

{% block content %} 

<h2>{{ movie.name }}</h2>
<h3>{{ feature.datetime|date:"d.m.Y. H:i" }}{{ feature.kino.name }}</h3>

<ul>
  {% for feat in movie.features %}
  <li>
    <a href="{{ feat.get_url }}"><span class="date">{{ feat.datetime|date:"d.m.Y. H:i" }}</span>
    <span class="kino">{{ feat.kino.name }}</span></a>
    {% if feat.num_going %} 
    ({{ feat.num_going }})
    {% endif %}
  </li>
   {% endfor %}
</ul>

{% if movie.ratings %}
<br />Ratings:
<ul>
  {% for rating in movie.ratings %}
  <li>
    <span class="user">{{ rating.user.nickname }}</span>
    <span class="rating">{{ rating.mlrating }}</span>
   {% endfor %}
</ul>
{% endif %}


{% endblock content %} 
