{% extends "base.html" %} 

{% block content %} 

{% if profile %}
<h2>{{ profile.nick }}</h2>

Movies this User is seeing: 
<ul>
   {% for feat in profile.features %}
  <li>
<a href="{{ feat.get_url }}"><span class="movie">{{ feat.movie.name }}</span>
    <span class="date">{{ feat.datetime|date:"d.m.Y. H:i" }}</span>
    <span class="kino">{{ feat.kino.name }}</span>
   {% if feat.goers %}<span>({{ feat.goers }})</span>{% endif %} 
   </a> 
   </li> 
   {% endfor %}

{% else %}
  <p>Userpofile "{{ nick }}" not found</p>
{% endif %}

{% endblock content %} 
