{% extends "base.html" %} 

{% block content %} 
  {% if saved %} 
   <p> &Auml;nderungen wurden gerspeichert.</p>
  {% endif %}
<form action="" method="post" id="dataForm">
  <fieldset class="alt">
   <legend><span>Angaben</span></legend>
     <ol>
      <li>
       <label for="nick">Nickname:</label>
       <input id="nick" name="nick" type="text" value="{{ profile.nick }}" />
     </li>
 
      <li>
       <label for="mlurl">Url von MovieLens:</label>
       <input id="mlurl" name="mlurl" type="text" value="{{ profile.movielens_url }}" />
     </li>
     <li>
	<label for="q">Mein Ort</label>
	<input id="q" name="q" type="text" value="{{ profile.adress }}" />
	<a href="#" onclick="MlMup.showLocation(); return false;"> Ort suchen</a>
     </li>
     <li>
	<input type="hidden" name="lat" value="{{ profile.geo.lat }}" id="lat" />
	<input type="hidden" name="long" value="{{ profile.geo.lon }}" id="long" />
     </li>		
                <li>
                <div id="map"></div>
                </li>

                </ol>
        </fieldset>
                                        <fieldset class="submit">
                                        <input class="submit" type="submit" value="Speichern" />
                                </fieldset>
</form>
                </div>
                        

{% endblock content %} 


{% block javascript %} 
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ api_key }}"  type="text/javascript"></script>

<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/intl/en_ALL/mapfiles/127d/maps2.api/mod_control.js"></script>
<script src="http://www.google.com/uds/api?file=uds.js&v=1.0" type="text/javascript"></script>
<script src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js" type="text/javascript"></script> 
<script src="/media/lib/jquery/jquery.pack.js" type="text/javascript"></script> 
<script src="/media/lib/js/geo.functions.js" type="text/javascript"></script> 

{% endblock javascript %}

