{% extends "base.html" %} 

{% block content %} 
  <p>
  Bitte dieses Formular vollständig ausfüllen.
  </p>
  {% if saved %} 
   <p> &Auml;nderungen wurden gerspeichert.</p>
  {% endif %}
<form action="" method="post" id="dataForm">
  <fieldset class="alt">
   <legend><span>Angaben</span></legend>
     <ol>
      <li>
       <label for="mlurl">Url von MovieLens:</label>
       <input id="mlurl" name="mlurl" type="text" value="{{ profile.movielens_url }}" />
     </li>
     <li>
	<label for="q">Mein Ort</label>
	<input id="q" name="q" type="text" value="" />
	<a href="#" onclick="MlMup.showLocation(); return false;"> Ort suchen</a>
     </li>
     <li>
	<input type="hidden" name="lat" value="{{ profile.coordinates.lat }}" id="lat" />
	<input type="hidden" name="long" value="{{ profile.coordinates.lon }}" id="long" />
     </li>		
                <li>
                <div id="map"></div>
                </li>

                </ol>
        </fieldset>
                                        <fieldset class="submit">
                                        <input class="submit" type="submit" value="Speichern" />
                                </fieldset>
</form>
                </div>
                        

{% endblock content %} 


{% block javascript %} 
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ api_key }}"  type="text/javascript"></script>

<script type="text/javascript" charset="UTF-8" src="http://maps.google.com/intl/en_ALL/mapfiles/127d/maps2.api/mod_control.js"></script>
<script src="http://www.google.com/uds/api?file=uds.js&v=1.0" type="text/javascript"></script>
<script src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js" type="text/javascript"></script> 




    <script type="text/javascript">

    //<![CDATA[
	
	var MlMup = {
		
		 mapsLoaded: function() {
  	         
                // if lat/long are set in the profile initialy zoom there
                // if not center cologne.
                var lat = document.getElementById("lat").value || 50.940664;
                var lon = document.getElementById("long").value  || 6.959912; 
                         
 
		MlMup.map = new google.maps.Map2(document.getElementById("map"));
 		MlMup.map.setCenter(new google.maps.LatLng(lat, lon), 13);
  		MlMup.map.addControl(new GLargeMapControl());
  		MlMup.map.addControl(new GMapTypeControl());
 		if (google.loader.ClientLocation){
 			MlMup.map.setCenter(
                new google.maps.LatLng(
                    google.loader.ClientLocation.latitude,
                    google.loader.ClientLocation.longitude
                ), 13
            );


 		MlMup.map.addOverlay(new GMarker(new google.maps.LatLng(
                    google.loader.ClientLocation.latitude,
                    google.loader.ClientLocation.longitude)),
					{draggable: true}
					);
					
		document.getElementById('long').value = google.loader.ClientLocation.longitude ;
    	document.getElementById('lat').value =  google.loader.ClientLocation.latitude;
		
		GEvent.addListener(MlMup.map,"click", function(overlay,latlng) {     
          if (latlng) {   
            var myHtml = "The GLatLng value is: " + MlMup.map.fromLatLngToDivPixel(latlng) + " at zoom level " + MlMup.map.getZoom();
            MlMup.map.openInfoWindow(latlng, myHtml);
          }
        });
        

		
						
					
 }

},
    showLocation: function () {
	  var geocoder = new GClientGeocoder();
	
      var address = document.forms[0].q.value;
      geocoder.getLocations(address, MlMup.addAddressToMap);
    },

		findLocation: function(address){
			document.forms[0].q.value = address;
      		MlMup.showLocation();
			
		},

		loadMaps: function () {
			
  		google.load("maps", "2", {"callback" : MlMup.mapsLoaded});
},
    addAddressToMap: function (response) {
		
      MlMup.map.clearOverlays();
      if (!response || response.Status.code != 200) {
        alert("Sorry, we were unable to geocode that address");
      } else {
        place = response.Placemark[0];
        point = new GLatLng(place.Point.coordinates[1],
                            place.Point.coordinates[0]);
		
        marker = new GMarker(point);
        MlMup.map.addOverlay(marker);
		marker.openInfoWindowHtml(place.address + '<br>');
        document.getElementById('long').value = place.Point.coordinates[1] ;
        document.getElementById('lat').value = place.Point.coordinates[0];
      }
    }
		
	};
	








      google.setOnLoadCallback(MlMup.loadMaps);


    //]]>
	
    </script>

{% endblock javascript %}

