{% extends "base.html" %} 

{% block content %} 

<h2>{{ kino.name }}</h2>
<img src="{{ kino.static_map_url }}" />
<ul>
   {% for feat in kino.features %}
  <li><a href="{{feat.get_url}}"><span class="movie">{{ feat.movie.name }} </span>
    <span class="date">{{ feat.datetime|date:"d.m.Y. H:i" }}</span>
     <ul>
     {% for rating in feat.movie.ratings %} 
         <li>{{ rating.user }} : {{ rating.mlrating }}</li> 
     {% endfor %} 
     </ul> 
  </a></li>
   {% endfor %}
</ul>

{% endblock content %} 


